html h1 header head body .header .main-content div{
    font-family:Helvetica, Arial, sans-serif;
    font-weight:bold;
}
header {
    height:200px;
    background-color:red;
    background-image:url(images/wood.jpg);
    background-size:fill;
}
header img{
    height:200px;
}
body img{
    background-size:fill;
    display:block;
    height:800px;
    margin:auto;
}
body{
    background-color:black;
}
header h1{
    text-align:center;
    padding-top:80px;
    color:white;
}
.header{
    width:100%;
}
.main-content{
    width:100%;
}
.main-content h1{
    color:white;
    text-align:center;
    font-family:Helvetica;
}
a {
    text-align:center;
    text-decoration:none;
    color:#FF00FF;
    margin:15px;
    padding-left:400px;
}